<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question.title }}</title>
</head>
<body>
<h1>{{ question.title }}</h1>

<div>
    <p>{{ question.text }}</p>
</div>

<div>
    <p>Posted: {{ question.added_at }}</p>
    <p>Rating: {{ question.rating }}</p>
    <p>Author: {{ question.author }}</p>
    <p>Likes:
    {% for like in question.likes.all %}
        {{ like }} </p>
    {% endfor %}
</div>

<hr>

<div>
    {% for answer in answers %}
        <p><strong>{{ answer.author }}:</strong> {{ answer.text }}</p>
    {% endfor %}
</div>

</body>
</html>